[Unit]
Description=Sia daemon
After=network.target

[Service]
Type=simple
User=sia
Nice=5
WorkingDirectory=/var/lib/sia/
ExecStart=/usr/bin/siad 
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target


